/*
    ██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║       ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/

#about-section {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

#about-section p, 
#about-section h2,
#about-section h3,
#about-section ul{
    color: #050505;
}

#about-section .portrait-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-section .portrait-image img{
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgb(160, 151, 255);
    border-radius: 10px;
    margin: 30px;
    max-width: 100%;

    width: auto;
}

/*
    ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗      ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝      ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/



@media (max-width: 567px) {
    #about-section .portrait-image {
        max-width: 94%;
    }
}

/*
    ████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
       ██║   ███████║██████╔╝██║     █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
       ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
       ██║   ██║  ██║██████╔╝███████╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗███████║
       ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 567px) {
    


}

@media (min-width: 567px) and (max-width: 992px) {
    #about-section .portrait-image img{
        margin: 0 30px;
    }

    #about-section .portrait-image {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        border-radius: 5px;
    }
}

@media (min-width: 768px){
    #about-section .portrait-image img{
        max-width: 660px;
    }    
}

/*
    ██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝     ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║         ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝         ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 992px) {

    #about-section .container{

    }

    #about-section .portrait-image{
        float: right;
    }

}