/*
    ██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║       ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/

#bloc-section .container{
    flex-direction: row;
}

#blog-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.blog-card{
    max-width: 350px;
    padding: 1rem;

}

.blog-card .card-container{
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.blog-card img{
    max-width: 100%;
}

.blog-card a{
    display: block;
    color: #488ac9;
    text-decoration: none;
    padding: 25px 15px 0 15px;
}

.blog-card h2{
    min-height: 150px;
    padding: 25px 15px;
}

#side-bar{
    flex-grow: 1;
}

/*
    ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗      ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝      ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/

.blog-card{
    width: 100%;
    max-width: 450px;
    padding: 1rem;

}

@media (max-width: 567px) {

}

/*
    ████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
       ██║   ███████║██████╔╝██║     █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
       ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
       ██║   ██║  ██║██████╔╝███████╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗███████║
       ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 567px) {
    
    .blog-card{
        max-width: 540px;
    }

}

@media (min-width: 768px){
    .blog-card{
        max-width: 350px;  
    }
}
