/*
    ██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║       ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/

#contact-section {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

#contact-section p, 
#contact-section h1,
#contact-section h2,
#contact-section h3,
#contact-section label{
    color: #050505;
    padding: 1em 0;
}

#email-form{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    width: 100%;
}

#email-form textarea,
#email-form input[type='text'] ,
#email-form input[type='email']{
    border-radius: 5px;
    border: 1px solid #bfc4ca;

    line-height: 2em;
    padding: 0 0.5em;
}

#email-form > div,
#email-form .name-section div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#email-form .name-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#email-form .name-section div{
    max-width: 48%;
}

#email-form input[type='submit']{
    display: block;
    text-align: center;
    text-decoration: none;

    width: 145px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    font-weight: 800;

    border: none;
    background-color: #3882f6;
    color: #f9faf8;
}

#email-form textarea{
    min-height: 10em;
    max-width: 100%;
}

#email-form textarea:focus,
#email-form input:focus[type='text']{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/*
    ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗      ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝      ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/



@media (max-width: 567px) {

}

/*
    ████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
       ██║   ███████║██████╔╝██║     █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
       ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
       ██║   ██║  ██║██████╔╝███████╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗███████║
       ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 567px) {
    


}

@media (min-width: 567px) and (max-width: 992px) {

}

@media (min-width: 768px){

}

/*
    ██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝     ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║         ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝         ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 992px) {

}