@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*
    ██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║       ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-width: 100%;
    transition-delay: 2s;
    
}

/* Header styles start */
header {
    position:fixed;
    min-width: 100%;
    top: 0;
    z-index: 9999;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5em;

    background-color: #1F2937;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .header-logo {    
    max-height: 3em;
}

.header-logo img {
    max-height: 3em;
}

header nav {
    display: flex;
    min-width: 25%;
    justify-content: space-between;
    justify-self: center;
}

header a {
    display: block;
    text-align: center;
    line-height: 3em;
    min-width: 60px;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Header styles end */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

/* Sections styles start */
section {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section {
    background-color: rgb(31, 41, 55);
}

#hero-section .container {
    justify-content: center;
    overflow: hidden;
}

#hero-section .hero-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-section .hero-main-text {
    font-size: 48px;
    font-weight: 800;
    padding: 15px 0;
    color: #f9faf8;
}

#hero-section .hero-subtext p {
    padding: 1em 0;
    font-size: 18px;
    
    color: #e5e7eb;
}

#hero-section .hero-subtext {
    margin-bottom: 15px;
}

#hero-section .hero-image-container img {
    max-width: 100%;
}

#hero-section .signup-button {
    display: block;
    text-align: center;
    text-decoration: none;

    width: 145px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    font-weight: 800;

    background-color: #3882f6;
    color: #f9faf8;
}

#information-section {
    margin-bottom: 120px;
}

#information-section .container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

#information-section h3 {
    text-align: center;

    margin: 40px 0;

    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#information-section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#information-section li {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 180px;
    margin: 0 20px;
}

#information-section figcaption {
    text-align: center;
}

#information-section .image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
    height: 180px;

    margin-bottom: 0.5em;
    padding: 5px;

    border: 5px solid #3882f6;
    border-radius: 10px;
}

#information-section .illustration-image {
    width: 100%;
    height: auto;

    margin: auto;
}

#quote-section {
    background-color: #e5e7eb;
}

#quote-section blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

    margin-bottom: 10px;

    color: #1F2937
}

#quote-section .author-name {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
}

#call-to-action-section {
    margin: 100px 0;
}

#call-to-action-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 40px 10%;
    border-radius: 10px;

    background-color: #3882f6;
}

#call-to-action-section .message {
    flex: 2;
    color: #f9faf8;
}

#call-to-action-section .message p {
    color: #e5e7eb;
}

#call-to-action-section .signup-button {
    display: block;
    text-align: center;
    text-decoration: none;
    flex: 1;

    max-width: 145px;
    height: 40px;
    line-height: 34px;
    border-radius: 10px;
    font-weight: 800;

    border: 3px solid #f9faf8;
    color: #f9faf8;
}

/* Sections styles end */

/* Footer styles start */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

    background-color: #1F2937;
}

footer h5 {
    color: #e5e7eb;
}

footer img{
    max-width: 40px;
}

footer .back-to-top-button{
    display: block;
    position: absolute;
    right: 20px;
}
/* Footer styles end */

/*About page styles start*/

#about-section {
    width: 100%;
    background-color: #1F2937;
}

#about-section h2 {
    padding: 1.5em 0;

    color: #f9faf8;
}

#about-section p {
    margin-top: 1.5em;

    color: #e5e7eb;
}

#about-section p:last-child {
    padding-bottom: 1.5em;
}

/*
    ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗      ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝      ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗    ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝ 
*/



@media (max-width: 567px) {
    /* Header Styles Start*/

    header .container {
        min-width: 94%;
    }

    header li {
        min-width: 3em;
    }

    /* Header Styles End*/

    /* Sections Styles Start*/
    section .container {
        width: 90%;
    }

    #hero-section {        
        padding: 2em 5%
    }

    #hero-section .hero-image-container{
        min-height: 540px;
    }

    #hero-section .hero-main-text {
        font-size: 28px;
    }

    #hero-section .hero-subtext {
        font-size: 12px;
    }

    #information-section ul {
        flex-direction: column;
        align-items: center;
    }

    #information-section li {
        margin-bottom: 1.5em;
    }

    #information-section li:last-child {
        margin-bottom: 0;
    }

    #quote-section {
        padding: 100px 10%;
    }

    #call-to-action-section .container {
        flex-direction: column;
        text-align: center;
    }

    #call-to-action-section h4 {
        margin-bottom: 1.5em;
    }

    #call-to-action-section p {
        margin-bottom: 1.5em;
    }

    #call-to-action-section .signup-button {
        min-width: 145px;
    }

    #call-to-action-section {
        padding: 0 5%;
    }

    /* Sections Styles End*/

}

@media (max-width: 767px) {

    #hero-section .container {
        display: block;
        position: relative;
    }

    #hero-section .hero-information {
        justify-content: space-around;
        position: absolute;
        top: 0;
        z-index: 2;

        height: 100%;
        padding: 0;

    }

    #hero-section .hero-main-text,
    #hero-section .hero-subtext {
        text-align: center;
    }

    #hero-section .signup-button {
        margin: 0 auto;
    }

    #hero-section .hero-image-container {
        position: relative;
        top: 0;
        z-index: 1;
    }

    /* Overlay over the hero image */
    #hero-section .hero-image-container:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #1f2937c7;
        /* Change the color and opacity as desired */
    }
}

/*
    ████████╗ █████╗ ██████╗ ██╗     ███████╗████████╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝╚══██╔══╝    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
       ██║   ███████║██████╔╝██║     █████╗     ██║       ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
       ██║   ██╔══██║██╔══██╗██║     ██╔══╝     ██║       ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
       ██║   ██║  ██║██████╔╝███████╗███████╗   ██║       ███████║   ██║      ██║   ███████╗███████╗███████║
       ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝   ╚═╝       ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 567px) {

    /* Header Styles Start*/
    section .container,
    header .container {
        max-width: 540px;
    }

    header li {
        min-width: 120px;
    }

    /* Header Styles End*/

    /* Sections Styles Start*/

    #hero-section .container {
        display: flex;
        flex-direction: row;
    }

    /* Sections Styles End*/

}

@media (min-width: 768px) {

    section .container,
    header .container {
        max-width: 720px;
    }
}

@media (min-width: 567px) and (max-width: 1200px) {

    /* Header Styles Start*/

    header {
        padding: 1em 5%;
    }

    /* Header Styles End*/

    /* Sections Styles Start*/

    #hero-section {
        padding: 2em 5%
    }

    #hero-section .hero-information {
        padding-right: 0;
    }

    #information-section li {
        margin: 0 2vw;
    }

    #information-section .image-container {
        width: 20vw;
        height: 20vw;
    }

    #quote-section {
        padding: 100px 15%;
    }

    #call-to-action-section {
        padding: 0 10%;
    }

    /* Sections Styles End*/

}

/*
    ██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗     ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
    ██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
    ██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝    ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
    ██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝     ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
    ██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║         ███████║   ██║      ██║   ███████╗███████╗███████║
    ╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝         ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
*/

@media (min-width: 992px) {

    /* Section Styles Start */
    section .container,
    header .container {
        max-width: 960px;
    }

    /* #hero-section {
        padding: 1.5em 15%;
    } */

    #hero-section .hero-information,
    #hero-section .hero-image-container {
        flex: 1;
    }

    #hero-section .hero-information {
        padding-right: 50px;
    }

    #quote-section {
        padding: 100px 24%;
    }

    #call-to-action-section {
        padding: 0 15%;
    }

    /* Section Styles End */

}

@media (min-width: 1200px) {

    section .container,
    header .container {
        max-width: 1100px;
    }
}